Go To: <a href="/dig_sites">Dig Sites</a> > <a href="/dig_sites/<%= @level.unit.dig_site.id%>">Units</a> > <a href="/units/<%= @level.unit.id%>">Levels</a>

<h3>Level: <%= @level.local_id %></h3>

    <% if @error %>
        <%= @error %>
    <% end %>

    <form method="get" action="/levels/<%= @level.id %>/edit">
    <input type="submit" value="Update"></form>

    <form method="post" action="/levels/<%= @level.id %>">
    <input type="hidden" name="_method" id="hidden" value="delete">
    <input type="submit" value="Delete"></form>

    <h4>Artifacts:</h4>

<ul>
    <% @level.artifacts.each do |artifact| %>
        <li>Artifact: <a href="/artifacts/<%= artifact.id %>"><%= artifact.local_id %></a></li>
    <% end %>
</ul>

<a href="/levels/<%= @level.id%>/artifacts/new">Create New Artifact</a>