Go To: <a href="/dig_sites">Dig Sites</a>

<h3>Dig Site: <%= @dig_site.name %></h3>
<h4>In: <%= @dig_site.location %></h4>
    <form method="get" action="/dig_sites/<%= @dig_site.id %>/edit">
    <input type="submit" value="Update"></form>

    <form method="post" action="/dig_sites/<%= @dig_site.id %>">
    <input type="hidden" name="_method" id="hidden" value="delete">
    <input type="submit" value="Delete"></form>

<h4>Units:</h4>   
<ul>
    <% @dig_site.units.each do |unit| %>
        <li>Unit: <a href="/units/<%= unit.id %>"><%= unit.local_id %>, <%= unit.size %></a></li>
    <% end %>
</ul>

<a href="/dig_sites/<%= @dig_site.id %>/units/new">Create New Unit</a>
