<h3>Artifact <%= @artifact.local_id %></h3>

<% if @artifact && @artifact.errors.any? %>
    <% @artifact.errors.full_messages.each do |message| %>
        <p class="danger"><%= message %></p>
    <% end %>    
<% end %>

<form action="/artifacts/<%= @artifact.id %>" method="post">
<input type="hidden" name="_method" id="hidden" value="patch">
<label for="local_id">Artifact ID: </label> <input type="text" name="local_id" id="local_id" placeholder="<%= @artifact.local_id %>"><br>
<label for="artifact_type">Type: </label> <input type="text" name="artifact_type" id="artifact_type" placeholder="<%= @artifact.artifact_type %>"><br>
<label for="description">Description: </label> <input type="text" name="description" id="description" placeholder="<%= @artifact.description %>"><br>
<input type="submit" value="Update">
</form>