<a href="/dig_sites/<%= @dig_site.id %>">Back to Dig Site</a>

<h3 >Dig Site <%= @dig_site.name %>'s Artifacts:</h3>

<ul>
<% @artifacts.each do |artifact| %>
    <li><p>Found: <%= artifact.created_at%></p> <p>ID: <%= artifact.local_id %></p> <p>Type: <%= artifact.artifact_type %></p> <p>Desc: <%= artifact.description %></p> <p>Location: Unit <%= artifact.level.unit.id %> - Level <%= artifact.level.id %></p> </li>
<% end %>
</ul>

