<h3 class="object-title">Artifact: <%= @artifact.local_id %></h3>

<div class="artifact-container">
    <h5 class="artifact">Type: <%= @artifact.artifact_type%></h5>
    <h5 class="artifact">Description: <%= @artifact.artifact_type%></h5>
</div>

<% if @error %>
    <%= @error %>
<% end %>

<div class="ud-container">
    <form class="ud-buttons" method="get" action="/artifacts/<%= @artifact.id %>/edit">
    <input type="submit" value="Update"></form>

    <form class="ud-buttons" method="post" action="/artifacts/<%= @artifact.id %>">
    <input type="hidden" name="_method" id="hidden" value="delete">
    <input type="submit" value="Delete"></form><br>
</div>

    <% if @index != 0 %>
        <div class="prev-artifact">
            <a class="prev-link" href="/artifacts/<%= @level.artifacts[@index - 1].id %>"><img class="prev-arrow arrow" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Back_Arrow.svg/1200px-Back_Arrow.svg.png"> Previous Artifact</a>
        </div>
    <% end %>
    <% if @index != @level.artifacts.length - 1 %>
        <div class="next-artifact">
            <a class="next-link" href="/artifacts/<%= @level.artifacts[@index + 1].id %>">Next Artifact <img class="next-arrow arrow" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Next_Arrow.svg/1200px-Next_Arrow.svg.png"></a>
        </div>
    <% end %>

